local_cache
*__pycache__
.DS_Store
temp
env/*

scratchpad.ipynb
langProBe/AppWorld/data/
langProBe/AppWorld/experiments/
langProBe/AppWorld/.conda/
*.png

# result files
*.txt
*.model
*.stat

.dspy_cache/
.evaluation_*/
mlflow.db
simple_eval/results/gepa*
mlruns/*
mlartifacts/*
gepa_optimize/output_promptonly_gepa/gepa_logs/
gepa_optimize/output_hover_CE_202603032032
.venv
.env
.venv
